<br><br>
<a routerLink="/">F1</a>&nbsp;&nbsp;&nbsp;<a routerLink="/drivers">Drivers</a>

<br>
<br>

<table [@flyInOut]="in">
  <tr>
    <th colspan="4">Drivers Championship Standings - 2013</th>
  </tr>
  <tr *ngFor="let lista of listado; let i = index">
    <td><b>{{i+1}}</b></td>
    <td><a [routerLink]="['/drivers',lista.familyName]">{{lista.givenName}} {{lista.familyName | buscarUsuario:buscar}}</a><router-outlet></router-outlet></td>  
  </tr>
</table>

<table style="margin-top:-455px;margin-left:200px;">
  <tr *ngFor="let constr of infoConst">
   <td><a [routerLink]="['/constructs',constr.name]">{{constr.name | buscarUsuario:buscar}}</a><router-outlet></router-outlet></td>
  </tr>
  <tr *ngFor="let resultado of result; let i = index">
    <td>{{res.points}}</td>
  </tr>
</table>
